<h1 class="m-5">Crear cuenta</h1>
<form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)" style="margin-bottom: 1vh !important;">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="username" formControlName="username" class="form-control" 
     [ngClass] ="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
      id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('required')" class="text-danger">
            El email es requerido
          </p>
          <p *ngIf="Email?.hasError('email')" class="text-danger">
            El formado del email debe ser valido
          </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password"
      [ngClass] ="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
      class="form-control" id="exampleInputPassword1">
        <div *ngIf="Password?.errors && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger">
                La contraseña es requerida
            </p>
            <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                La contraseña debe ser de 8 o mas caracteres
            </p>
        </div>    
    </div>
    <button type="submit" class="btn btn-dark">Enviar</button>
  </form>

  