<div class="container-fluid formacion-container">
    <div class="row">
        <h1>Formacion Academica</h1>
    </div>
    <div class="row row-formacion">
        <div class="col-2 my-auto">
            <img class="img-fluid img-formacion" src="assets/img/91dc83b233047a3c768e3369d1d4c6b6.png" style="background-color: white;">
        </div>
        <div class="col-10">
            <h3>Estudiante de ingenieria industrial - Universidad Catolica</h3>
            <p><b>2015 - actualidad</b></p>
            <p>Completado al 99% - Tesis pendiente</p>
        </div>
    </div>
    <div class="row row-formacion">
        <div class="col-2 my-auto">
            <img class="img-fluid img-formacion" src="assets/img/inti.bmp" style="background-color: white;">
        </div>
        <div class="col-10">
            <h3>Diplomatura en Industria 4.0 y sus tecnologias habilitadoras - INTI</h3>
            <p><b>2021 - 2021</b></p>
            <p>Completado totalmente y habilitado como facilitador para su implementacion en Pymes aa</p>
        </div>
    </div>
    <div class="row row-formacion">
        <div class="col-2 my-auto">
            <img class="img-fluid img-formacion" src="assets/img/apple-touch-icon200px.png" style="background-color: white;">
        </div>
        <div class="col-10">
            <h3>Programa de formacion en operaciones Bursatiles - Bolsa de comercio de Rosario</h3>
            <p><b>2021 - 2021</b></p>
            <p>Completado - Modulos incluidos: Acciones, Futuros, Bonos, Cauciones, Seguros</p>
        </div>
    </div>

</div>
