<div class="container-fluid">
    <div class="row">
        <h2>Proyectos</h2>
    </div>
    <div class="row" *ngFor="let proyecto of proyectos">
        <a href="{{proyecto.url}}" class="no-underline"><b>{{proyecto.nombreProy}}</b></a>
        <p style="margin-bottom: 0.5rem;">{{proyecto.descripcion}}</p>
        <p>   <span class="badge rounded-pill bg-dark" *ngFor="let tecnologia of proyecto.tecnologiaProyectos" style="margin-right: 0.5rem;">{{tecnologia.tecnologia.tecnologias}}</span> </p>
    </div>

</div>
