<div class="container-fluid">
    <div class="row">
        <h2>Proyectos</h2>
    </div>
    <div class="row">
        <a href="#" class="no-underline"><b>Portfolio #YoProgramo</b></a>
        <p>Es sobre lo que vamos aprendiendo en el cursado y aplicando en nuestro trabajo</p>
    </div>
    <div class="row">
        <a href="#" class="no-underline"><b>Aliwen Store</b></a>
        <p>Pagina web para empresa de venta de relojes de madera reciclada y otros productos de indole ecologica</p>
    </div>
    <div class="row">
        <a href="#" class="no-underline"><b>Nuzdelai</b></a>
        <p>Se trata de un proyecto independiente de una emrpesa que comercializa productos fitness y para la perdida de procesos
            Un detalle es que se implemento la API de Mercado Pago para realizar pagos.
        </p>
    </div>
</div>
