<div class="container-fluid about-container">
    <div class="row portada">

            <div class="col-3">
                <img src="{{pathFotoPerfil}}" class="img-fluid rounded-circle"  alt="img-fluid">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-11">
                    <h1>{{titulo}}</h1>
                    </div>
                    <div class="col-1">
                        <a class="btn-right">
                            <i class="fa fa-pen" onclick="cambiar_parrafo()"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <p>{{edad}} años, {{ciudad}} {{provincia}} </p>
                    <p>Correo: {{correo}}</p>
                    <p id="descripcion-texto">{{descripcion}}</p>
                    <input type="text" id="edit-descripcion" style="display: none;" oninput="myFunction2(this.value)">
                </div>
                
            </div>
    </div>
    
</div>
