<div class="container-fluid general-container">
            
  <!--header-->
  <div class="container-fluid">
      
      <div class="row">

          <div class="col-2 rounded">
              
                  <img src="assets/img/logoArgNegro.png" class="img-fluid logo-arg" id="nav" alt="img-fluid">
          </div>
          <div class="col-6"></div>
          <div class="col-3 my-auto btn-social"> 
              <div class="row">
                  <div class="col-4">
                      <a href="#" class="fa-brands fa-linkedin-in fa-lg" ></a>
                  </div>
                  <div class="col-4">
                      <a href="#" class="fa-brands fa-twitter fa-lg a-btn"></a>
                  </div>
                  <div class="col-4">
                      <a href="#" class="fa fa-facebook fa-lg"></a>
                  </div>
              </div>
          </div>
          
          <div class="col-1 my-auto">
              <div class="row justify-content-center d-grid gap-2">
                      <button type="button" class="btn btn-primary">Login</button>
              </div>
          </div>

          
      </div>
  </div>

  <!--Portada-->
  <div class="container-fluid">
      <div class="row portada">

              <div class="col-12">
                  <img src="assets/img/fondo-banner-gatos-lindos-dicen-hola_45130-353.webp" class="img-fluid img-portada" alt="img-fluid">
              </div>

      </div>
  </div>

  <!--Acerca de nosotros-->
  <div class="container-fluid about-container">
      <div class="row portada">

              <div class="col-3">
                  <img src="assets/img/CV 300x300.jpg" class="img-fluid rounded-circle"  alt="img-fluid">
              </div>
              <div class="col-9">
                  <div class="row">
                      <div class="col-11">
                      <h1>Spitale Agustin - Full Stack developer Jr.</h1>
                      </div>
                      <div class="col-1">
                          <a href="#" class="btn-right">
                              <i class="fa fa-pen" onclick="cambiar_parrafo()"></i>
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <p>25 años, Rosario Santa Fe </p>
                      <p id="descripcion-texto">Soy estudiante avanzado de Ingenieria Industrial de la Universidad catolica argentina y me encuentro haciendo mi segunda pasantia en una
                          empresa de Puerto General San Martin en el area de mantenimiento de barcazas. Siempre estoy intentando automatizar procesos
                          para facilitar tanto mis tareas como las de los demas por lo cual la programacion siemrpe vino muy bien. 
                          Siempre estoy intentando aprender nuevas herramientas para poder aplicarlas, ya que muchas veces para un problema que parece
                          sin solucion alguien ya tuvo ese problema y lo resolvio
                      </p>
                      <input type="text" id="edit-descripcion" style="display: none;" oninput="myFunction2(this.value)">
                  </div>
              </div>
      </div>
  </div>

  <!--Formacion academica-->
  <div class="container-fluid formacion-container">
      <div class="row">
          <h1>Formacion Academica</h1>
      </div>
      <div class="row row-formacion">
          <div class="col-2 my-auto">
              <img class="img-fluid img-formacion" src="assets/img/91dc83b233047a3c768e3369d1d4c6b6.png" style="background-color: white;">
          </div>
          <div class="col-10">
              <h3>Estudiante de ingenieria industrial - Universidad Catolica</h3>
              <p><b>2015 - actualidad</b></p>
              <p>Completado al 99% - Tesis pendiente</p>
          </div>
      </div>
      <div class="row row-formacion">
          <div class="col-2 my-auto">
              <img class="img-fluid img-formacion" src="assets/img/inti.bmp" style="background-color: white;">
          </div>
          <div class="col-10">
              <h3>Diplomatura en Industria 4.0 y sus tecnologias habilitadoras - INTI</h3>
              <p><b>2021 - 2021</b></p>
              <p>Completado totalmente y habilitado como facilitador para su implementacion en Pymes</p>
          </div>
      </div>
      <div class="row row-formacion">
          <div class="col-2 my-auto">
              <img class="img-fluid img-formacion" src="assets/img/apple-touch-icon200px.png" style="background-color: white;">
          </div>
          <div class="col-10">
              <h3>Programa de formacion en operaciones Bursatiles - Bolsa de comercio de Rosario</h3>
              <p><b>2021 - 2021</b></p>
              <p>Completado - Modulos incluidos: Acciones, Futuros, Bonos, Cauciones, Seguros</p>
          </div>
      </div>

  </div>

  <!--Skills-->
  <div class="container-fluid">

      <!--Soft Skills-->
      <div class="row">
          <div class="row">
              <h2>Soft Skills</h2>
          </div>
          <div class="col-4">
              
              <div class="row">
                  <div class="col-12 col-img-skills">
                      <img src="assets/img/skilltiempo.png" class="img-fluid img-formacion mx-auto" alt="">
                      <div class="progress barra-skills mx-auto">
                          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                      </div>
                      <p class="text-center">Planificacion y gestion de tiempo</p>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="row">
                  <div class="col-12 col-img-skills">
                      <img src="assets/img/skillcomunicacion.png" class="img-fluid img-formacion mx-auto" alt="">
                      <div class="progress barra-skills mx-auto">
                          <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                      </div>
                      <p class="text-center">Comunicacion y escucha activa</p>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="row">
                  <div class="col-12 col-img-skills">
                      <img src="assets/img/red-distri-icono-Flexibilidad-alt.png" class="img-fluid img-formacion mx-auto" alt="">
                      <div class="progress barra-skills mx-auto">
                          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                      </div>
                      <p class="text-center">Flexibilidad a los cambios</p>
                  </div>
              </div>
          </div>
      </div>

      <!--Hard Skills-->
      <div class="row">
          <div class="row">
              <h2>Hard Skills</h2>
          </div>
          <div class="col-4">
              
              <div class="row">
                  <div class="col-12 col-img-skills">
                      <img src="assets/img/logoexcel.webp" class="img-fluid img-formacion mx-auto" alt="">
                      <div class="progress barra-skills mx-auto">
                          <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
                      </div>
                      <p class="text-center">Ms Excel</p>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="row">
                  <div class="col-12 col-img-skills">
                      <img src="assets/img/sap.png" class="img-fluid img-formacion mx-auto" alt="">
                      <div class="progress barra-skills mx-auto">
                          <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
                      </div>
                      <p class="text-center">SAP ERP</p>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="row">
                  <div class="col-12 col-img-skills">
                      <img src="assets/img/project.ico" class="img-fluid img-formacion mx-auto" alt="">
                      <div class="progress barra-skills mx-auto">
                          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                      </div>
                      <p class="text-center">MS Project</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--Proyectos-->

  <div class="container-fluid">
      <div class="row">
          <h2>Proyectos</h2>
      </div>
      <div class="row">
          <a href="#" class="no-underline"><b>Portfolio #YoProgramo</b></a>
          <p>Es sobre lo que vamos aprendiendo en el cursado y aplicando en nuestro trabajo</p>
      </div>
      <div class="row">
          <a href="#" class="no-underline"><b>Aliwen Store</b></a>
          <p>Pagina web para empresa de venta de relojes de madera reciclada y otros productos de indole ecologica</p>
      </div>
      <div class="row">
          <a href="#" class="no-underline"><b>Nuzdelai</b></a>
          <p>Se trata de un proyecto independiente de una emrpesa que comercializa productos fitness y para la perdida de procesos
              Un detalle es que se implemento la API de Mercado Pago para realizar pagos.
          </p>
      </div>
  </div>
</div>