<div class="container-fluid">
    
    <!--Hard Skills-->
    <div class="row">
        <div class="row">
            <div class="col-md-11">
                <h2>Hard Skills</h2>
            </div>
            <div class="col-md-1">
                <app-skill-modals></app-skill-modals>
            </div>
        </div>

        <div class="row">
            <ng-container *ngFor="let skill of hardSkills ;let i=index">
                <div class="col-4">
                    
                    <div class="row">
                        <div class="col-12 col-img-skills">
                            <img src="{{hardPaths[i]}}" class="img-fluid img-formacion mx-auto" alt="">
                            <div class="progress barra-skills mx-auto">
                                <div class="progress-bar" role="progressbar" style="width: {{skill.porcentajeCompleto}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{skill.porcentajeCompleto}}%</div>
                            </div>
                            <p class="text-center">{{skill.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </ng-container> 
        </div>
    </div>

       

    <!--Soft Skills-->
    <div class="row">
        <div class="row">
            <h2>Soft Skills</h2>
        </div>
        <ng-container *ngFor="let skill of softSkills;let indice=index">
            <div class="col-4">
                
                <div class="row">
                    <div class="col-12 col-img-skills">
                        <img src="{{softPaths[indice]}}" class="img-fluid img-formacion mx-auto" alt="">
                        <div class="progress barra-skills mx-auto">
                            <div class="progress-bar" role="progressbar" style="width: {{skill.porcentajeCompleto}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{skill.porcentajeCompleto}}%</div>
                        </div>
                        <p class="text-center">{{skill.descripcion}}</p>
                    </div>
                </div>
            </div>
        </ng-container> 
</div>