<div class="container-fluid">

    <!--Soft Skills-->
    <div class="row">
        <div class="row">
            <h2>Soft Skills</h2>
        </div>
        <div class="col-4">
            
            <div class="row">
                <div class="col-12 col-img-skills">
                    <img src="assets/img/skilltiempo.png" class="img-fluid img-formacion mx-auto" alt="">
                    <div class="progress barra-skills mx-auto">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                    <p class="text-center">Planificacion y gestion de tiempo</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 col-img-skills">
                    <img src="assets/img/skillcomunicacion.png" class="img-fluid img-formacion mx-auto" alt="">
                    <div class="progress barra-skills mx-auto">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                    <p class="text-center">Comunicacion y escucha activa</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 col-img-skills">
                    <img src="assets/img/red-distri-icono-Flexibilidad-alt.png" class="img-fluid img-formacion mx-auto" alt="">
                    <div class="progress barra-skills mx-auto">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <p class="text-center">Flexibilidad a los cambios</p>
                </div>
            </div>
        </div>
    </div>

    <!--Hard Skills-->
    <div class="row">
        <div class="row">
            <h2>Hard Skills</h2>
        </div>
        <div class="col-4">
            
            <div class="row">
                <div class="col-12 col-img-skills">
                    <img src="assets/img/logoexcel.webp" class="img-fluid img-formacion mx-auto" alt="">
                    <div class="progress barra-skills mx-auto">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>
                    <p class="text-center">Ms Excel</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 col-img-skills">
                    <img src="assets/img/sap.png" class="img-fluid img-formacion mx-auto" alt="">
                    <div class="progress barra-skills mx-auto">
                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
                    </div>
                    <p class="text-center">SAP ERP</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 col-img-skills">
                    <img src="assets/img/project.ico" class="img-fluid img-formacion mx-auto" alt="">
                    <div class="progress barra-skills mx-auto">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <p class="text-center">MS Project</p>
                </div>
            </div>
        </div>
    </div>
</div>