<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      
        <div class="mb-3">
          <!--<label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
                <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">

            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>-->
            
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="m-5"  style="margin-bottom: 1vh !important;">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
                <label for="titulo">Apellido</label>
                <input type="text" class="form-control" formControlName="apellido">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" formControlName="titulo">
                <label for="edad">Edad</label>
                <input type="text" class="form-control" formControlName="edad">
                <label for="edad">Descripcion</label>
                <textarea name="descripcion" type="text" class="form-control" cols="40" rows="5" id="descripcion" formControlName="descripcion"></textarea>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
            
            
        
        </div>
      
      
    </div>

    <div class="container" style="width:500px">
      <div class="my-3">
        <h3>bezkoder.com</h3>
        <h4>{{ title }}</h4>
      </div>
      <app-file-upload></app-file-upload>
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
<a class="btn-right">
    <i class="fa fa-pen" (click)="open(content)"></i>
</a>
  
  
  <pre>{{ closeResult }}</pre>