<div class="container-fluid">
      
    <div class="row">

        <div class="col-2 rounded">
            
                <img src="assets/img/logoArgNegro.png" class="img-fluid logo-arg" id="nav" alt="img-fluid">
        </div>
        <div class="col-6"></div>
        <div class="col-3 my-auto btn-social"> 
            <div class="row">
                <div class="col-4">
                    <a href="#" class="fa-brands fa-linkedin-in fa-lg" ></a>
                </div>
                <div class="col-4">
                    <a href="#" class="fa-brands fa-twitter fa-lg a-btn"></a>
                </div>
                <div class="col-4">
                    <a href="#" class="fa fa-facebook fa-lg"></a>
                </div>
            </div>
        </div>
        
        <div class="col-1 my-auto">
            <div class="row justify-content-center d-grid gap-2">
                    <button type="button" class="btn btn-primary"></button>
            </div>
        </div>

        
    </div>
</div>